body{
    background: black url("redRoom.jpg") no-repeat fixed center
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: gold;
    text-align: center;
}
p{
    color: rgb(255, 225, 71);
}
.coopList{
    color: black;
    outline-style: dotted;
    outline-color: pink;
    text-shadow: 3px 2px red;
    font-weight: bold;
}
.coopPaper{
    font-weight: bold;
    width: 320px;
    padding: 10px;
    border: 5px dotted pink;
    margin: auto;
    background-color: grey;
    opacity: 0.6;
}
script{
    color: gold;
}